<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689729273312-i0sj0qsctv8ume0d2ucjbctkso0s5p9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689729273312-i0sj0qsctv8ume0d2ucjbctkso0s5p9r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>689729273312-pjt7g2ifoipaac054f2fq0vqp4tbt5bm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ2-_V6u4r-B_We6roEPbmhqy7OaVJKdY</string>
	<key>GCM_SENDER_ID</key>
	<string>689729273312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.gusto</string>
	<key>PROJECT_ID</key>
	<string>gusto-coffee-coworking-space</string>
	<key>STORAGE_BUCKET</key>
	<string>gusto-coffee-coworking-space.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689729273312:ios:bf3fc3edd5abd6a118bf85</string>
</dict>
</plist>